<div class="row">
    <ul class="nav nav-tabs" style="margin: 25px;" data-no-turbolink="">
        <li role="presentation" {% if(id == 1)%} class="active" {% endif %} >
            <a href="{{ path_for('graph') }}/tab/1">Temps reel</a>
        </li>
        <li role="presentation" {% if(id == 2)%} class="active" {% endif %}>
            <a href="{{ path_for('graph') }}/tab/2">Visualisation globale</a>
        </li>
        <li role="presentation" {% if(id == 3)%} class="active" {% endif %}>
            <a href="{{ path_for('graph') }}/tab/3">Visualisation seuils</a>
        </li>
        <li role="presentation" {% if(id == 4)%} class="active" {% endif %}>
            <a href="{{ path_for('graph') }}/tab/4"> Combinaison </a>
        </li>
        <li role="presentation" {% if(id == 5)%} class="active" {% endif %}>
            <a href="{{ path_for('graph') }}/tab/5">Exportation des données</a>
        </li>
    </ul>
</div>